* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, Georgia, serif;
}

h1 {
    font-size: 40px;
    margin: 20px;
}

h2 {
    font-size: 32px;
    margin: 16px;
}

body {
    padding: 12px;
    margin: 40px;
    background-color: rgb(59, 63, 68);
}
