.container1 {
    height: 150px;
    padding: 16px;
    background: orange;
    border: 4px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container2 {
    height: 300px;
    padding: 16px;
    background: orange;
    border: 4px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.item {
    width: 80px;
    height: 50px;
    border: 4px solid black;
    background: lightblue;
    flex: auto;
}